name: Karate Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm install

      - name: Run Karate Tests
        run: mvn test -Dtest=trabalhoRunner

  empacotar:

    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven
      - name: Build com Maven
        run: mvn clean install

      - name: Upload de artefatos
        uses: actions/upload-artifact@v3
        with:
          name: relatorio-testes
          path: S107_GitHubActions\target\karate-reports\aula_inatel.trabalho2.trabalhoDevOps.html

  notificacao:
    runs-on: ubuntu-latest

    env:
      EMAIL_LIST: vitorandre26@gmail.com, alinepmarc@gmail.com

    steps:
    - name: Executa comandos
      uses: actions/checkout@v3
    - run: sh scripts/shell.sh

  